<!doctype html>
<!-- 네임스페이스 태그 추가 -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Thymeleaf</h2>
    - JSP를 대체하기 위한 Spring Boot의 보편적인 Templates Engine으로 View를 담당한다. <br>
    - 특징은 html 포맷을 많이 벗어나지 않고, 태그의 옵션처럼 보일수 있게 구성 되어있다.<br>
    - 기능 적으로는 JSP와 거의 유사하다. (사실상 JSP 3.0이라고 생각한다.)<br>
    - 참고 : https://catsbi.oopy.io/32a9458e-f452-4733-b87c-caba75f98e2d

    <h3>0. 설정하는 방법</h3>
    - Spring Boot 프로젝트 셋팅시 thymeleaf 의존성을 추가한다.(수동으로도 가능) <br>
    - html 태그 옵션에 xmlns 태그(네임스페이스 태그)를 추가한다. <br>
    ex) &gt; html xmlns:th="http://www.thymeleaf.org" &lt;
    <!-- <xmlns:th="http://www.thymeleaf.org"> -->
    <hr><br>

    <h3>1. HTML View에 출력하는 방법</h3>
    <b>1) Controller에서 넘겨준 Model의 문자열 출력하기</b><br>
    - Thymeleaf는 데이터를 표현식으로 EL(Expression Language)를 사용한다. ex) ${str}, ${user.name} <br>
    - EL(Expression Language)은 산술, 비교, 논리, 삼항연산 또는 타임리프 전용 내장 함수를 사용할수 있다.<br>
    - HTML 태그 옵션값이 th:text="${~~}"로 java에서 model로 넘어온 데이터를 출력할수 있다. <br>
    - text의 경우 text는 escape, utext는 unescape 시 활용된다. (text 권장) <br>
    <hr>
    일반 표기법1 : <span th:text="${str}">빈문자열일때 출력되는 문장</span> <br>
    일반 표기법2 : <span th:text="${str2}">빈문자열일때 출력되는 문장</span> <br>
    unescape 표기법1 : <span th:utext="${str}"></span> <br>
    unescape 표기법2 : <span th:utext="${str2}"></span> <br>
    잘못된 표현법 : ${str} ※ 안되는 문법, EL을 바로 출력수 없다. JSP는 가능했다. <br>
    인라인 표기법★ : [[${str}]] <br>
    인라인 표기법1 : [[${str2}]] - 기본적으로 특수문자가 escape 처리 된다. <br>
    인라인 표기법2(unescape) : [(${str2})] - unescape 표현법, tag가 노출된다. <br>
    인라인 표기법을 통해 Javascript 변수 값 채워보기 예제 <br>
    <script type="text/javascript">
        let value1 = "Hello";
        let value2 = '[[${str}]]'; // javascript에 java에서 가져온 model값을 채워줄때 활용
        let value3 = '[(${str2})]'; // javascript에 java에서 가져온 model값을 채워줄때 활용
        document.write(value3);
        // alert(value1 + " " + value2);
    </script>
    <hr><br>

    <b>2) 문자열 결합하기 (Java + Java, HTML + Java)</b> <br>
    - 출력할 문자열의 결합이 필요한 경우 결합이 가능하다. <br><br>

    결합1 : <span th:text="'안녕하세요? ' + ${name} + '님이 로그인 하셨습니다.'" ></span> <br>
    결합2 : <span th:text="|안녕하세요? ${name} 님이 로그인 하셨습니다.|" ></span> <br>
    결합3 : <span th:with="start = '안녕하세요? ', end  = '님이 로그인 하셨습니다.'"
                th:text="${start} + ${name} + ${end}"></span> <br>
    결합4 : 안녕하세요? [[${name}]]님이 로그인 하셨습니다. ★★★★★ <br>
    <hr><br>

    <b>3) 주소값 처리하기 @{~~}</b><br>
    - context path 대신에 처리하는 방법으로 권장됨, context path가 없는 boot는 사실 무관하다. -> 있는걸 권장함! <br>

    a태그 일반 : <a href="/request">링크 이동</a> <br>
    a태그 일반(@활용) : <a th:href="@{/request}">링크 이동 (@활용)</a> <br>
    a태그 + get 파라미터1 :  <a th:href="@{/request(value1='test')}">링크 이동</a> <br>
    a태그 + get 파라미터1 :  <a th:href="@{/request(value1=${str})}">링크 이동</a> <br>
    a태그 + get 파라미터2 :  <a th:href="@{/request(value1=${str}, value2=${name})}">링크 이동</a> <br>
    a태그 + get 파라미터(list) :  <a th:href="@{/request(values=${list})}">링크 이동</a> <br><br>

    <b>리소스, img 가져오는 방법</b><br>
    정석 : <img th:src="@{/images/logo-spring.png}" alt="logo" width="100"> <br>
    비정석 : <img src="/images/logo-spring.png" alt="logo" width="100"> <br>
    ※ 비정석이 되는 이유는 context path가 없기때문, 만일 있다면 정석적인 것만 보임 <br>

    <!-- javascript -->
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <!-- css -->
<!--     	<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">-->
    <hr><br>

    <b>4) 숫자 처리하는 방법</b>
    <div th:with="x=123456789, y=123456.7892164126124814, z=0.05">
        기본형 : <span th:text="${x}"></span><br>
        기본형 : <span th:text="${y}"></span><br>
        정수형(자리수 표현) : <span th:text="${#numbers.formatInteger(x, 3, 'COMMA')}"></span><br>
        실수형(소수점 자르기) : <span th:text="${#numbers.formatDecimal(y, 3,'NONE', 2, 'POINT')}"></span><br>
        퍼센트 : <span th:text="${#numbers.formatPercent(z, 2, 2)}"></span><br>
        원화 : <span th:text="${#numbers.formatCurrency(x)}"></span>
    </div>
    <hr><br>

    <b>5) 날짜 처리하기</b> <br>
    - 현재 날짜 출력 : <span th:text="${#dates.createNow()}"></span> <br>
    - model date 출력 : <span th:text="${date}"></span> <br>
    - 기본 포멧1 : <span th:text="${#dates.format(date)}"></span> <br>
    - 기본 포멧2 : <span th:text="${#dates.formatISO(date)}"></span> <br>
    - 기본 포멧3 : <span th:text="${#dates.format(date, 'yyyy/MM/dd (E)')}"></span> <br>
    - 기본 포멧4 : <span th:text="${#dates.format(date, 'yyyy/MM/dd (E) hh:mm:ss')}"></span> <br>
    - 기본 포멧5 : <span th:text="${#dates.format(date, 'yyyy/MM/dd (E) a hh:mm:ss')}"></span> <br>
    - 기본 포멧6 : <span th:text="${#dates.format(date, 'yyyy/MM/dd (E) a HH:mm:ss')}"></span> <br>
    - 년 : <span th:text="${#dates.year(date)}"></span> <br>
    - 월 : <span th:text="${#dates.month(date)}"></span> <br>
    - 일 : <span th:text="${#dates.day(date)}"></span> <br>
    <hr><br>

    <b>6) 문자열 처리하기 </b> <br>
    - 대문자 변환 : <span th:text="${#strings.toUpperCase(str)}"></span><br>
    - 비었는지 확인(null + length) : <span th:text="${#strings.isEmpty(str)}"></span><br>
    - 비었는지 확인 응용 : <span th:text="${#strings.isEmpty(str) ? '비었습니다.' : '안 비었습니다.'}"></span><br>
    - 길이 : <span th:text="${#strings.length(str)}"></span><br>
    - 특정 문자열이 있는지 : <span th:text="${#strings.indexOf(str, 'Boot')}"></span><br>
    - replace : <span th:utext="${#strings.replace(str, 'Boot', '<b>Boot</b>')}"></span><br>
    <hr><br>


    <b>7-1) 객체 접근하기 (.으로)</b> <br>
    - 객체에 접근할때 멤버변수가 없으면 죽는다. null로 된 값은 빈값으로 출력된다. ★ <br>
    - id : [[${member.id}]] <br>
    - name : [[${member.name}]] <br>
    - age : [[${member.age}]] <br>
    - null : [[${member.nullValue}]] <br>
    <hr><br>

    <b>7-2) 객체 접근하기 ([] 접근, Map도 같은 방법으로 적용)</b> <br>
    - 객체에 접근할때 멤버변수가 없을때도 죽진 않는다. <br>
    - id : [[${member['id']}]] <br>
    - name : [[${member['name']}]] <br>
    - age : [[${member['age']}]] <br>
    - id : [[${map['id']}]] <br>
    - name : [[${map['name']}]] <br>
    - age : [[${map['age']}]] - 값이 없으면 공백 <br>
    <hr><br>

    <b>7-3) 객체 접근하기 (*로 접근하는 방법)</b><br>
    - th:block : 비어있는 태그로 실제 html문서에 출력되지 않는 빈공간 <br>
    <th:block th:object="${member}">
        - id : [[*{id}]]<br>
        - name : [[*{name}]]<br>
        - age : [[*{age}]]<br>
    </th:block>
    <hr><br>

    <b>8) list 접근하기</b><br>
    - index를 벗어나면 죽는다. <br>
    - index0 : [[${list[0]}]] <br>
    - index1 : [[${list[1]}]] <br>
    - index2 : [[${list[2]}]] <br>
    - index3 : [[${list[3]}]] <br>
    <!--/* - index100 : [[${list[100]}]] <br>*/-->
    <hr><br>

    <b>9) map 접근하기 </b><br>
    - id :  [[${map['id']}]]<br>
    - name :  [[${map['name']}]]<br>
    - 없는 값 :  [[${map['noValue']}]]<br>
    - 없는 값은 공백으로 처리된다. <br>
    <hr><br>

    <h3>2. 조건문</h3>
    <b>1) 논리 연산자</b> <br>
    5 > 10 : [[${5 > 10}]] <br>
    5 < 10 : [[${5 < 10}]] <br>
    5 >= 10 : [[${5 >= 10}]] <br>
    5 <= 10 : [[${5 <= 10}]] <br>
    5 == 10 : [[${5 == 10}]] <br>
    5 != 10 : [[${5 != 10}]] <br>
    name == 홍길동 : [[${name == '홍길동'}]]<br>
    name != 홍길동 : [[${name != '홍길동'}]]<br>
    name == 홍길순 : [[${name == '홍길순'}]]<br>
    <hr><br>

    <b>2) 삼항연산자 ★★</b><br>
    [[${name == '홍길동' ? name + '입니다' : name + '은 홍길동이 아닙니다'}]] <br>
    <th:block th:text="${name} == '홍길동' ? ${name} + '입니다.' : ${name} +'은 홍길동이 아닙니다.'" /><br>
    <hr><br>

    <b>3) if문 ★★★</b><br>
    <th:block th:if="${name == '홍길동'}">
        [[${name}]]은 홍길동입니다. <br>
    </th:block>
    <th:block th:if="${name != '홍길동'}">
        [[${name}]]은 홍길동 아닙니다. <br>
    </th:block>

    문자열이 비었는지 확인 + if문  <br>
    <th:block th:if="${#strings.isEmpty(name)}">
        로그인 되어 있지 않습니다. <br>
    </th:block>
    <br>

    문자열이 비어있지 않은 조건  <br>
    <th:block th:if="${!#strings.isEmpty(name)}">
        로그인이 되었습니다. <br>
        [[${name}]]님 환영합니다! <br>
    </th:block>
    <br>

    if + else문 -> if - unless문  <br>
    <th:block th:if="${#strings.isEmpty(name)}">
        로그인이 되어있지 않습니다. <br>
    </th:block>
    <th:block th:unless="${#strings.isEmpty(name)}">
        로그인이 되었습니다. <br>
    </th:block>
    <hr><br>

    <b>4) switch문</b> <br>
    <th:block th:switch="${name}">
        <span th:case="홍길동">홍길동입니다.</span>
        <span th:case="최길동">최길동입니다.</span>
    </th:block>
    <hr><br>

    <b>3. 반복문 ★★★★★</b><br>
    <b>1) 단순 반복문</b><br>
    <th:block th:each="item : ${list}">
        [[${item}]] <br>
    </th:block>
    <br>

    <b>2) 객체 list 반복문</b><br>
    <th:block th:each="item : ${memberList}">
        id : [[${item.id}]] <br>
        이름 : [[${item.name}]] <br>
        나이 : [[${item.age}]] <br>
        <br>
    </th:block>
    <br>

    <!-- table > tr > td로 외원라! -->
    <table border="1" style="width: 500px">
        <tr>
            <th>id</th>
            <th>이름</th>
            <th>나이</th>
            <th>개발언어</th>
        </tr>

        <tr th:each="item : ${memberList}">
            <td>[[${item.id}]]</td>
            <td>[[${item.name}]]</td>
            <td>[[${item.age}]]</td>
            <td>
                <th:block th:each="lang, status : ${item.devLang}">
                    [[${lang}]]<th:block th:if="!${status.last}">,</th:block>
                </th:block>
            </td>
        </tr>
    </table>
    <hr><br>

    <b>3) status 활용하기</b><br>
    <div th:each="member, status : ${memberList}" th:object="${member}">
        index :  [[${status.index}]]<br>
        count :  [[${status.count}]]<br>
        size :  [[${status.size}]]<br>
        current :  [[${status.current}]]<br>
        even :  [[${status.even}]]<br>
        odd : [[${status.odd}]]<br>
        first : [[${status.first}]]<br>
        last : [[${status.last}]]<br>
        [[*{id}]] : [[*{name}]]<br>
        <th:block th:if="${status.index} % 2 == 0">
            짝수입니다.<br>
        </th:block>
        <br>
    </div>
    <hr><br>

    <h3>3. Layout</h3>
    - header, footer를 include 할때 활용한다. (페이지 재사용하는 경우 활용!) <br>

<!--    <div th:fragment="div1">-->
<!--        <div id="div2">-->
<!--            fragment div1안에 div2 입니다.-->
<!--        </div>-->
<!--    </div>-->

<!--    <div id="div3">-->
<!--        <div id="div4">-->
<!--            div태그의 div3 안에 div4 입니다.-->
<!--        </div>-->
<!--    </div>-->
    - th:replace : 구문 자체를 대체하는 방법으로 감싼 태그의 속성이 사라진다. <br>
    - th:include : 포함으로써 밖에 감싼 태그가 유지가 되는 차이가 있다. <br><br>

    replace<br>
    <p th:replace="thymeleaf/layout :: div1"></p><br>
    include<br>
    <p th:include="thymeleaf/layout :: #div3"></p>
    <hr><br>

    <h3>4. 입력용 form 설계</h3>
    <b>1) 일반 form 으로 전송하는 방법</b> <br>
    <form th:action="@{/join}" method="post">
        id : <input type="text" name="id" /> <br/>
        이름 : <input type="text" name="name" /> <br/>
        나이 : <input type="text" name="age" /> <br/>
        <input type="submit" value="전송" />
    </form>
    <br>


    <b>2) update용 form 설계하기</b> <br>
    - th:value, th:field로 기존 값을 입력 시킬수도 있다.<br>
    <form th:action="@{/join}" method="post">
        id : <input type="text" name="id" th:value="${member.id}" /> <br/>
        이름 : <input type="text" name="name" th:value="${member.name}" /> <br/>
        나이 : <input type="text" name="age" th:value="${member.age}" /> <br/>
        <input type="submit" value="전송" />
    </form>
    <br>

    <form th:action="@{/join}" method="post">
        id : <input type="text" name="id" th:field="${member.id}"><br>
        이름 : <input type="text" name="name" th:field="${member.name}"><br>
        나이 : <input type="text" name="age" th:field="${member.age}"><br>
        <input type="submit" value="전송">
    </form>
    <br>


    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</body>
</html>