<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>파일 업로드</title>
</head>
<body>
    <h3>단일 파일 업로드</h3>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br>
        <button type="submit">업로드</button>
    </form>
    <hr><br>

    <h3>다중 파일 업로드</h3>
    <form action="/uploadMultiple" method="post" enctype="multipart/form-data">
        <input type="file" name="files" multiple><br>
        <button type="submit">다중 업로드</button>
    </form>
    <hr><br>

    <h3>파일명 자동 구성 업로드</h3>
    <form action="/uploadWithRename" method="post" enctype="multipart/form-data">
        <input type="file" name="file"> <br>
        <button type="submit">날짜+랜덤명 업로드</button>
    </form>
    <hr><br>

</body>
</html>
