<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<img th:src="@{/images/logo.png}" alt="로고" width="120"/>
<h1>로그인</h1>
<form class="myform" th:action="@{/users/login}" method="post">
    <label>username: <input type="text" name="username"/></label><br/><br/>
    <label>password: <input type="password" name="password"/></label><br/><br/>
    <!-- 추가 부분: 역할 선택 -->
    <label>권한 선택:</label><br/>
    <input type="radio" name="roles" value="user" checked/> 사용자<br/>
    <input type="radio" name="roles" value="admin"/> 관리자<br/><br/>
    <button type="submit">로그인</button>
</form>
</body>
</html>