<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<img th:src="@{/images/logo.png}" alt="로고" width="120"/>
<h1>회원가입</h1>
<form class="myform" th:action="@{/users/signup}" method="post">
    <label>id: <input type="number" name="id"/></label><br/><br/>
    <label>username: <input type="text" name="username"/></label><br/><br/>
    <label>password: <input type="password" name="password"/></label><br/><br/>
    <label>name: <input type="text" name="name"/></label><br/><br/>
    <button type="submit">가입</button>
</form>
</body>
</html>