<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<h2>회원 등록</h2>

<form th:action="@{/users/register}" method="post">
    <label>아이디: <input type="text" name="username" /></label><br/>
    <label>비밀번호: <input type="password" name="password"/></label><br/>
    <label>이름: <input type="text" name="name" /></label><br/>
    <label>나이: <input type="number" name="age"/></label><br/><br/>
    <button type="submit">등록</button>
</form>
</body>
</html>
