<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 업로드</title>
</head>
<body>
<h2>회원 정보 업로드</h2>
<form th:action="@{/users/upload}" method="post" enctype="multipart/form-data">
    <label>아이디: <input type="text" name="username" /></label><br/>
    <label>이름: <input type="text" name="name" /></label><br/>
    <label>생일: <input type="date" name="birthDate" /></label><br/>
    <label>아바타: <input type="file" name="avatar" /></label><br/>
    <button type="submit">업로드</button>
</form>
</body>
</html>