<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"  lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1>회원 상세 정보</h1>
<a class="btn" th:href="@{/}">홈으로</a>

<table>
    <tr>
        <th>ID</th>
        <td th:text="${user.id}"></td>
    </tr>
    <tr>
        <th>아이디</th>
        <td th:text="${user.username}"></td>
    </tr>
    <tr>
        <th>이름</th>
        <td th:text="${user.name}"></td>
    </tr>
    <tr>
        <th>비밀번호</th>
        <td th:text="${user.password}"></td>
    </tr>
</table>

<a th:href="@{/users/}">목록으로</a>
<form th:action="@{'/users/' + ${user.id} + '/delete'}" method="post" style="display:inline">
    <button type="submit" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</button>
</form>

</body>
</html>