<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>가입완료</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <img th:src="@{/images/logo.png}" alt="로고" width="120"/>
    <h1>가입이 완료되었습니다!</h1>
    <p th:text="'가입한 아이디: ' + ${user.username}"></p>
    
    <a th:href="@{/users/signup}">다시 가입</a>
    <br>
    <a th:href="@{/users/list}">리스트</a>
</body>
</html>