<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>파라미터 처리 예제</title>
    <meta charset="UTF-8">
</head>
<body>
<section>
    <h2>파라미터 처리 예제</h2>
    <a th:href="@{/users/userServlet}">서블릿의 HttpRequest로 파라미터 처리</a><br>
    <a th:href="@{/users/userParams}">@RequestParam 어노테이션 활용 파라미터 처리</a><br>
    <a th:href="@{/users/userCommand}">Command 방식(객체, VO)를 통한 파라미터 처리</a><br>
    <a th:href="@{/users/userMap}">컬렉션 Map을 통한 파라미터 처리</a><br>
    <a th:href="@{/users/userAddInfo}">추가데이터 가져오기 예제(header, cookie)</a><br>
    <a th:href="@{/users/userEnroll}">회원 가입하기 (데이터 저장)</a><br>
    <a th:href="@{/users/userList}">회원 리스트 보기</a><br>
</section>


</body>
</html>