<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>

<section>
    <h3>회원가입</h3>
    <form th:action="@{/users/userEnroll}" method="post">
        <div>
            <label for="id">ID</label>
            <input type="number" id="id" name="id" value="1">
        </div>

        <div>
            <label for="username">아이디 (username)</label>
            <input type="text" id="username" name="username" value="user01">
        </div>

        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" value="1234">
        </div>

        <div>
            <label for="name">이름</label>
            <input type="text" id="name" name="name" value="홍길동">
        </div>

        <div>
            <label for="roles">권한</label>
            <select id="roles" name="roles">
                <option value="USER">USER</option>
                <option value="ADMIN">ADMIN</option>
            </select>
        </div>

        <div>
            <label>사용 언어</label><br>
            <input type="checkbox" id="lang1" name="devLang" value="Java" checked>
            <label for="lang1">Java</label>

            <input type="checkbox" id="lang2" name="devLang" value="C">
            <label for="lang2">C</label>

            <input type="checkbox" id="lang3" name="devLang" value="JavaScript" checked>
            <label for="lang3">JavaScript</label>

            <input type="checkbox" id="lang4" name="devLang" value="Python">
            <label for="lang4">Python</label>
        </div>

        <div>
            <button type="submit">회원가입</button>
        </div>
    </form>
</section>

</body>
</html>
