<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원 정보 확인</title>
    <meta charset="UTF-8">
</head>
<body>
<h2>회원 가입 결과</h2>
<p th:text="'아이디: ' + ${user.id}"></p>
<p th:text="'username: ' + ${user.username}"></p>
<p th:text="'비밀번호: ' + ${user.password}"></p>
<p th:text="'이름: ' + ${user.name}"></p>
<p th:text="'역할: ' + ${user.roles}"></p>
<p>사용 가능 언어:
    <span th:each="lang : ${user.devLang}" th:text="${lang} + ' '" />
</p>
<a th:href="@{/users/}">메인으로</a>
</body>
</html>
