<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 정보 보기</title>
</head>
<body>

<section>
    <h3>회원 정보 목록</h3>

    <table border="1">
        <thead>
        <tr>
            <th>아이디</th>
            <th>사용자명</th>
            <th>이름</th>
            <th>역할</th>
            <th>사용 가능 언어</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${list}">
            <td th:text="${user.id}">아이디</td>
            <td th:text="${user.username}">사용자명</td>
            <td th:text="${user.name}">이름</td>
            <td th:text="${user.roles}">역할</td>
            <td>
                <span th:each="lang, stat : ${user.devLang}" th:text="${lang} + ${stat.last ? '' : ', '}">언어</span>
            </td>
        </tr>
        </tbody>
    </table>
</section>

</body>
</html>
